<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>"КОСМОС" - Пароль</title>
    <link rel="stylesheet" href="../../src/assets/fontawwesome/css/all.css">
    <link rel="shortcut icon" href="../../src/assets/images/favicon_1.ico" type="image/x-icon">
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div class="header__logo">
                <a href="/"><img src="../../src/assets/images/Лого Космос.png" alt="Асоціація Космос" class="logo"></a>
            </div>
        </header>
        <main id="main">
            <div id="main-content">
                <div id="main-content__forms">
                    <div class="password-block">
                        <form action="/" method="POST" id="password-form">
                            <h3 class="forms-title">Відновлення паролю</h3>
                            <div class="input-block">
                                <span class="icon"><label for="password-login"><i class="fas fa-user-circle"></i></label></span>
                                <input type="email" name="email" id="password-login" placeholder="E-mail">
                            </div>
                            <input type="submit" class="primory-btn" value="Відправити запит">
                            <p class="error-message center"></p>
                            <a href="/" class="fargot">Головна сторінка</a>
                        </form>
                    </div>
                </div>

            </div>
        </main>
    </div>
    <div class="loader">
        <img src="../../src/assets/images/Лого Космос.png" alt="Асоціація Космос" class="logo">
        <div class="lds-hourglass"></div>
    </div>
</body>
</html>